@import '~@/assets/styles/variables.styl';

.btn
  border none

.btn-submit
  border-radius 18px
  background-color #1bd9bf
  padding 6px
  font-size $default-font-size
  font-family $default-font-family
  color #fff

.btn-cancel
  padding 6px
  border-radius 18px
  background-color #b4b4b4
  font-size $default-font-size
  font-family $default-font-family
  color #fff
