/*
vendor-prefix($name, $argument)
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};

@mixin placeholder {
  &::placeholder               {@content}
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin autofill($color, $background-color) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
    color: $color;
  }
  &:-webkit-autofill {
    color: initial;
    -webkit-text-fill-color: $color !important;
  }
}

@mixin round-edge($v, $h, $s) {
  @include vendor-prefix(border-#{$v}-#{$h}-radius, #{$s});
}
 */
