$break-small-min = 375px
$break-small-max = 425px
$desktop-break-min = 426px

$platform-mobile = "screen and (min-width: #{$break-small-min}) and (max-width: #{$break-small-max})"
$platform-desktop = "screen and (min-width: #{$desktop-break-min})"

$navbar-height = 64px

// bgcolor
$navbar-bgcolor = #fff

// font
$default-font-size = 16px
$default-font-family = "Noto Sans KR"
$content-b-font-family = "Noto Sans KR","MalgunGothic","Helvetica Neue","Helvetica","Arial",sans-serif
$content-eb-font-family = "Noto Sans KR","MalgunGothic","Helvetica Neue","Helvetica","Arial",sans-serif

