$break-small-min = 375px
$break-small-max = 425px
$desktop-break-min = 426px

$platform-mobile = "screen and (min-width: #{$break-small-min}) and (max-width: #{$break-small-max})"
$platform-desktop = "screen and (min-width: #{$desktop-break-min})"

$navbar-height-bg-normal = 59px

$navbar-height-nobg-normal = 72px

$tabbar-height = 70px

$content-b-font-family = "Apple Gothic","MalgunGothic","Helvetica Neue","Helvetica","Arial",sans-serif
$content-eb-font-family = "Apple Gothic","MalgunGothic","Helvetica Neue","Helvetica","Arial",sans-serif
